#PASS CONTINUE AND BREAK AND RETURN

In [3]:
numbers = [1, -1, 3, -3, 5, -7]

for i in numbers:
  if i < 0:
    pass      #do nothing
  else:
    print("desh badal raha hai :- ", i)

desh badal raha hai :-  1
desh badal raha hai :-  3
desh badal raha hai :-  5

In [7]:
numbers = [1, -1, 3, -3, 5, -7]

for i in numbers:
  if i < 0:
    print("hi -ve values ahe", i)      #do nothing
  else:
    print("hi positive values ahe ", i)

hi positive values ahe  1
hi -ve values ahe -1
hi positive values ahe  3
hi -ve values ahe -3
hi positive values ahe  5
hi -ve values ahe -7

In [8]:
x = 10

if x > 5:
  pass

In [9]:
#break

In [15]:
number = [1,3,5,8,9, 10, 12]
for i in number:
  if i % 2 == 0:
    print("the first even number is found", i)
    break
  else:
    print("this is odd number", i)

this is odd number 1
this is odd number 3
this is odd number 5
the first even number is found 8

In [16]:
#continue

In [17]:
number = [1,-2,-7,5,6,-8,9,-6]

for i in number:
  if i < 0:
    continue  #skip negative number
  print(i)

1
5
6
9

#FUNCTIONS

In [21]:
a = 10
b = 20

a + b

30

In [24]:
def add(a, b):
  return a + b

In [25]:
add(50,60)

110

In [26]:
def greeting(name = "Dear"):
  print("Hello", name)

In [27]:
greeting()

Hello Dear

In [28]:
greeting("shreya")

Hello shreya

In [29]:
for i in ['aditya', 'shreya', 'shweta', "tushar"]:
  greeting(i)

Hello aditya
Hello shreya
Hello shweta
Hello tushar

In [ ]:
#Write a function add_numbers(a, b) that takes two numbers as input and returns their sum.

#Write a function check_even_odd(n) that takes a number as input and prints whether it is "Even" or "Odd".

#Write a function find_max(a, b, c) that takes three numbers as input and returns the largest one.

#Write a function factorial(n) that takes a number and returns its factorial.

#Write a function count_vowels(text) that takes a string and returns the number of vowels (a, e, i, o, u) in it.