#Loops -

# for loop - used for intering over sequence

# while loop - runs as long as condition is True

In [2]:
for i in [2,4,5,6,7]:
  print (i)

2
4
5
6
7

In [3]:
for i in range(5):
  print(i)

0
1
2
3
4

In [6]:
#indentation is a one TAB space
fruits = ["apple", "banana", "cherry"]
for i in fruits:
  print(i)

apple
banana
cherry

In [7]:
for a in "Python":
  print(a)

P
y
t
h
o
n

In [9]:
for a in (20,45.9,"tushar",True):
  print(a)

20
45.9
tushar
True

In [10]:
student ={"name":"aditya", "age":25, "grade":"A"}

In [11]:
student.values()

dict_values(['aditya', 25, 'A'])

In [12]:
student.keys()

dict_keys(['name', 'age', 'grade'])

In [13]:
student.items()

dict_items([('name', 'aditya'), ('age', 25), ('grade', 'A')])

In [19]:
for i , j in student.items():
  print(i,"=", j)

name = aditya
age = 25
grade = A

In [17]:
"="

'='

In [20]:
#nested for loop

In [27]:
for i in range(3):
  for j in range(3):
    print(f"(i = {i}, j = {j})")

(i = 0, j = 0)
(i = 0, j = 1)
(i = 0, j = 2)
(i = 1, j = 0)
(i = 1, j = 1)
(i = 1, j = 2)
(i = 2, j = 0)
(i = 2, j = 1)
(i = 2, j = 2)

#while

In [35]:
i = 3
while i <= 5:
  print(i)
  i = i + 1

3
4
5

In [36]:
#Fibonacci sequence

In [45]:
a = 0
b = 1
while b < 100:
  print(b, end = " ")
  temp = b
  b = a + b
  a = temp

1 1 2 3 5 8 13 21 34 55 89

In [46]:
#factorial

In [47]:
num = 5
fact = 1
while num > 1:
  temp = num # current value in temp
  fact = fact * temp
  num = temp - 1

print("factorial of num is:- ", fact)

factorial of num is:-  120

In [48]:
num = 1234

In [49]:
num % 10

4

In [50]:
num // 10

123

In [ ]:
num =