In [3]:
## DICTIONARY-{KEYS:VALUES}
#-- unordered
#---mutuable :-mutable means we can change ,modifiy,remove
#---keys:values pair structure
#---Unique key must be unique and immutable(can not change)

In [4]:
# EMPTY DICT :--

In [5]:
d={}

In [6]:
type(d)

dict

In [7]:
#Example 1

In [8]:
student={'name':'shweta','age':21,'city':'wardha'}

In [9]:
student

{'name': 'shweta', 'age': 21, 'city': 'wardha'}

In [10]:
##Accessing elemets using the keys :=We can access the data
#----jjab bhi hum indexing karte hai us time square braces lete hai.

In [11]:
student['age']

21

In [12]:
student['name']

'shweta'

In [13]:
## METHIDS :----

In [14]:
# 1)GET METHID :- We can take the data from the veriiable

In [7]:
student={'name':'shweta','age':21,'city':'wardha'}

In [8]:
student.get('salary',"no") ## no is default value,, result showing no because salary column is not availble

'no'

In [9]:
student.get('name','shruti') ## shruti is a default value

'shweta'

In [10]:
student.get('age',50) ## 50 is a default value

21

In [38]:
##AASIGN OPERATOR :-- we can asign the operator and replace of any other elemts

In [41]:
student['age']=50 ## previous age was 30,we can change the age using by operator.

In [42]:
student

{'name': 'shweta', 'age': 50, 'city': 'wardha'}

In [44]:
student['name']="Priyanka"

In [45]:
student

{'name': 'Priyanka', 'age': 50, 'city': 'wardha'}

In [47]:
student["city"]="nagpur"

In [48]:
student

{'name': 'Priyanka', 'age': 50, 'city': 'nagpur'}

In [13]:
student

{'name': 'shweta', 'age': 21, 'city': 'wardha'}

In [14]:
student['salary']=1000 #we can also add the elemet

In [15]:
student

{'name': 'shweta', 'age': 21, 'city': 'wardha', 'salary': 1000}

In [16]:
student['salary']

1000

In [18]:
student['name']="shruti"

In [19]:
student

{'name': 'shruti', 'age': 21, 'city': 'wardha', 'salary': 1000}

In [20]:
##POP METHOD() :----Remove the eelement

In [21]:
student.pop('age')

21

In [22]:
student

{'name': 'shruti', 'city': 'wardha', 'salary': 1000}

In [23]:
student.pop('salary')

1000

In [24]:
student

{'name': 'shruti', 'city': 'wardha'}

In [25]:
##Delete (del) :- Delete is the keyword not the method. if we use del keywords it will directly delete the element.

In [27]:
del student['city']

In [28]:
student

{'name': 'shruti'}

In [29]:
del student['name']

In [31]:
student

{}

In [34]:
student={'name':'shweta','age':22}

In [35]:
student

{'name': 'shweta', 'age': 22}

In [36]:
del student['name']

In [37]:
student

{'age': 22}

In [38]:
student.clear() ###Clear the entire data

In [39]:
student

{}

In [40]:
####WE CREATE A NEW DICTIONARY NOW

In [42]:
student={'name':'shweta','age':21}

In [43]:
student

{'name': 'shweta', 'age': 21}

In [44]:
#IF WE WANT KEYS :-----

In [46]:
student.keys()

dict_keys(['name', 'age'])

In [47]:
## IF WE WANT VALUES FROM THE DICTIONARY:-----------

In [48]:
student.values()

dict_values(['shweta', 21])

In [49]:
#### IF WE WANT TO UPDATE /ADD A SINGLE ELEMET  :--

In [51]:
student['salary']=1000

In [52]:
student

{'name': 'shweta', 'age': 21, 'salary': 1000}

In [53]:
### UPDATE METHOD() :-- If we want to update te multiple values

In [55]:
student.update({'age':20,'city':'wardha','emplyoee':10})

In [56]:
student

{'name': 'shweta', 'age': 20, 'salary': 1000, 'city': 'wardha', 'emplyoee': 10}

In [59]:
student.update({'student':10})

In [60]:
student

{'name': 'shweta',
 'age': 20,
 'salary': 1000,
 'city': 'wardha',
 'emplyoee': 10,
 'student': 10}

In [61]:
###### SINGLE DATA TYPES :---
#---int,float,str,boolean,nun

In [62]:
### Multiple datatypes :---
#--- List[] , Tupple () ,Set {()} , dict {}

In [63]:
## DICTIONARY WITH LIST :---

In [66]:
data = {'name':['shweta','shruti','selu'],'age':[21,20,30],'city':['wardha','nagpur','wardha']}

In [67]:
data

{'name': ['shweta', 'shruti', 'selu'],
 'age': [21, 20, 30],
 'city': ['wardha', 'nagpur', 'wardha']}

In [68]:
data['age']

[21, 20, 30]

In [69]:
data['age'][0]

21

In [70]:
data['name']

['shweta', 'shruti', 'selu']

In [71]:
data['name'][2]

'selu'

In [72]:
data['city']

['wardha', 'nagpur', 'wardha']

In [73]:
data['city'][1]

'nagpur'

In [74]:
### DICTIONARY WITH DICTIONARY :--- We use the nested dictionary

In [78]:
data ={'sales':{'emp':['shweta','shruti','selu'],'budget':1000},'it':{'emp':['shreya','aditya'],'budget':2000},'hr':{'emp':['garg','kshitya'],'budget':3000}}

{'sales': {'emp': ['shweta', 'shruti', 'selu'], 'budget': 1000},
 'it': {'emp': ['shreya', 'aditya'], 'budget': 2000},
 'hr': {'emp': ['garg', 'kshitya'], 'budget': 3000}}

In [81]:
data['sales']['emp']

['shweta', 'shruti', 'selu']

In [83]:
data['sales']['emp'][1]

'shruti'

In [84]:
data['it']['emp']

['shreya', 'aditya']

In [85]:
data['it']['emp'][0]

'shreya'

In [89]:
data['it']['budget']

2000