In [1]:
# 1)check positive ,negative and zero number

In [5]:
num = 0

if num >0 :
  print("Number is positive")
elif num < 0:
  print("number is negative")
else:
  print("number is zero")

number is zero

In [6]:
## if we want a input from user

In [10]:
num =int(input("Enter the number"))
if num >0:
  print("Number is positive")
elif num < 0:
  print("Number is negative")
else:
  print("Number is zero")

Enter the number0
Number is zero

In [11]:
## To check EVEN OR ODD

In [13]:
num =9

if num % 2==0:
  print("Number is even")
else:
  print("Number is odd")

Number is odd

In [15]:
num = int(input("enter the number"))

if num %2==0:
  print("Number is even")
else:
  ("Number is odd")

enter the number10
Number is even

In [16]:
## Largest two number

In [20]:
a= int(input("Enter the first number"))
b= int (input("Enter second number"))

if a >b:
  print("Greatest number is:",a)
else:
  print("Greatest number is: ",b)

Enter the first number50
Enter second number10000
Greatest number is:  10000

In [21]:
## To check both the number is divisible by 5 and 7

In [25]:
num =35

if num % 5==0 and num % 7==0:
  print("number is divided by 5 and 7 :--- ")
else:
  print("number is not divided:")

number is divided by 5 and 7 :---

In [26]:
## Second way --want input from user

In [30]:
num =int(input("enter the number"))
if num % 5==0 and num % 7==0:
  print("divided with both number")
else:
  print("not divided")

enter the number55
not divided

In [31]:
### Intermediate question :---

In [32]:
## 1) Check the leap year

In [47]:
year = int(input("enter a year"))

if (year % 4 ==0 and year %100 != 0) or (year %400 == 0):
  print("it is a leap year")
else:
  print ("it is not a leap year")

enter a year2025
it is not a leap year

In [48]:
## 2) Write a program that asks for the user's marks and prints the grade based on the following:
#90-100: A
#80-89: B
#70-79: C
#60-69: D
#Below 60: F

In [54]:
marks =int(input("enter your marks: "))

if marks >=90:
  print("grade A")
elif marks >=80 :
  print("grade B")
elif marks >=70 :
  print("grade C")
elif marks>=60 :
  print("grade D")
else:
  print("fail")

enter your matks: 65
grade D

In [55]:
## Ask user for gender (M/F) ,and print a message accordingly.

In [71]:
age = input("enter your gender:-- ").upper()
if age == "M":
  print("hello sir !")
elif age == "F":
  print("Hello Mam !")
else:
  print("invalid")

enter your gender:-- c
invalid

In [72]:
## To check the number is in the range 1 to 100

In [80]:
num = int(input("enter a number: "))
if 1 <= num <=100 :
  print("number is in range")
else:
  print("out if range")

enter a number: 100
number is in range

In [81]:
## Write a Python script to check if a triangle is valid based on the sum of its angles (sum must be 180°).

In [90]:
a= int(input("enter first triiangle"))
b= int(input("enter second triangle"))
c=int(input("enter third triangle"))

if a+b+c == 180 :
  print("valid triangle")
else:
  print("invalid triangle")

enter first triiangle90
enter second triangle90
enter third triangle90
invalid triangle

In [108]:
char = input("enter a character : ").lower()

if char in "aeiou" :
  print("vowel")
else:
  print("consonant")

enter a character : m
consonant

NameError: name 'z' is not defined