In [1]:

##  Write a function add_numbers(a, b) that takes two numbers as input and returns their sum.

In [4]:
def add_number (a,b):   ## def is a define the function,whenever we use the return we define (def) the function.
  return a+b

In [8]:
add_number(4,5)    ## blank paranthesis means we call the function

9

In [6]:
add_number(10,10)

20

In [9]:
# Write a function check_even_odd(n) that takes a number as input and prints whether it is "Even" or "Odd".

In [18]:
def check_even_odd(n):     #we wull use if else condition
  if (n%2==0):
   print("Even")
  else:
     print("Odd")

In [19]:
check_even_odd(12)

Even

In [20]:
check_even_odd(3)

Odd

In [21]:
# Write a function find_max(a, b, c) that takes three numbers as input and returns the largest one.

In [22]:
def find_max(a,b,c):
  return max(a,b,c)    ## max is inbuilt function

In [23]:
find_max(20,6,5)

20

In [24]:
max(30,15,100)  ## max is inbuild function

100

In [25]:
min(10,20,30)     ## min is inbuilt fuction

10

In [30]:
len([1,3,5,6])    ## len is inbuilt function

4

In [33]:
sorted ([20,60,10,5,300])  ## sorted is also inbuilt function(we can directly use)

[5, 10, 20, 60, 300]

In [34]:
# Write a function factorial(n) that takes a number and returns its factorial.

In [38]:
def factorial(n):
  fact = 1
  for i in range (2 , n+1):   ## we use for loop
    fact *= i   ## we are saving value in fact thats why we right this // or we can also write as fact = fact * i
  return fact

In [44]:
factorial(3)

6

In [54]:
import math     ## math is a library // when we use library we need to take import   ## import is inbuilt

In [55]:
math.factorial(2)

2

In [56]:
math.sqrt(81)

9.0

In [57]:
math.sin(10)

-0.5440211108893698

In [58]:
float(10)

10.0

In [59]:
int(20.10)

20

In [60]:
math.pi

3.141592653589793

In [61]:
math.tan(30)

-6.405331196646276

In [62]:
## #Write a function count_vowels(text) that takes a string and returns the number of vowels (a, e, i, o, u) in it.

In [76]:
def count_vowels(text):
  vowels = "aeiou"
  count=sum(1 for i in text.lower()if i in vowels)    ##comprehension   #first sum > cnvert text into lower>>then save the value in i>#> check if i is availble in vowels then sum ani give the result
  return count

In [77]:
count_vowels("shweta is a smart GIRL")

6

In [78]:
count_vowels("PROgrammming")

3