In [1]:
## LOOPS :-- There are two types of loops 1)FOR LOOPS AND 2)WHILE LOOP

In [4]:
# 1) FOR LOOPS :-----It is used for intering over sequences.
# ----- Iteration means taking values one by one (when we write i in a like that so "i" is a iteration)
# ---- You can take any variable instead of "i"

In [10]:
for v in [1,2,3]: # "v"is a veriable.
   print(v)

1
2
3

In [20]:
fruits =['mango','banana','cherry']

In [23]:
for i in (fruits):  # (:)colon is must ,we end the code with the colon in for loop.
  print(i)

mango
banana
cherry

In [24]:
fruits =['mango','banana','cherry']

In [27]:
for v in fruits :
print(v)   # Indentation error means when we do not give a space before the print .

IndentationError: expected an indented block after 'for' statement on line 1 (<ipython-input-27-9519b81d00ef>, line 2)

In [28]:
emp=['shweta','sakuu']

In [29]:
for p in emp:
  print(p)

shweta
sakuu

In [30]:
for v in (10,50,10,50): ## v is just a veriable to iterate the value
  print(v)

10
50
10
50

In [32]:
for i in ('python'): # i is just a veriable to iterate the value
  print(i)

p
y
t
h
o
n

In [33]:
for b in (10,20.5,'shweta',True): ## b is just a veriavle to iterate the values
  print(b)

10
20.5
shweta
True

In [34]:
## Another example with dictionary :----give keys and thr values

In [38]:
student={'name':'shweta','age':20,'city':'wardha'}

In [39]:
student

{'name': 'shweta', 'age': 20, 'city': 'wardha'}

In [40]:
student.keys()  ## keys give only keys

dict_keys(['name', 'age', 'city'])

In [41]:
student.values()  ## values gives only values

dict_values(['shweta', 20, 'wardha'])

In [42]:
student.items()  ### items gives a output with keys and values

dict_items([('name', 'shweta'), ('age', 20), ('city', 'wardha')])

In [43]:
## If we want a values in different variable like :----

In [45]:
for i,j in student.items(): ## example 1
  print(i ,"=" ,j )

name = shweta
age = 20
city = wardha

In [47]:
for a,b in student.items():
  print (a ,":",b)

name : shweta
age : 20
city : wardha

In [56]:
### Nested for loop ((nested means net, loop in loop))

In [58]:
for i in range(2):  ### if range is 2 then gives output less than 2
  for j in range (2):
    for k in range(2):
      print(f"({i},{j},{k})")

(0,0,0)
(0,0,1)
(0,1,0)
(0,1,1)
(1,0,0)
(1,0,1)
(1,1,0)
(1,1,1)

In [63]:
for m in range(5):
  for n in range(5):
    print(f"({m},{n})")

(0,0)
(0,1)
(0,2)
(0,3)
(0,4)
(1,0)
(1,1)
(1,2)
(1,3)
(1,4)
(2,0)
(2,1)
(2,2)
(2,3)
(2,4)
(3,0)
(3,1)
(3,2)
(3,3)
(3,4)
(4,0)
(4,1)
(4,2)
(4,3)
(4,4)

In [64]:
### While loop   (while=kadhi paryant) :---- Runs as long as condition is true.

In [75]:
i= 0
while i < 5:
  print(i)
  i = i+1

0
1
2
3
4

In [86]:
k= 1
while k < 10:
  print("hello")
  k=k+1

hello
hello
hello
hello
hello
hello
hello
hello
hello

In [89]:
 i = 5
 while i < 10:
  print(i)
  i = i+1

5
6
7
8
9

In [91]:
i = 8
while i <10:
  print("hello")
  i = i+1

hello
hello

In [93]:
#### Fibonacci Series :--addition of two number
##if we have a = 0 and b=1 and temp is variable where we put a+b then we will give a ouput

In [95]:
a=0
b=1
while b < 100:
  print(b,end=" ")
  temp=b  ## first we save b values
  b=a+b   ## give result in b
  a=temp  ## we save temp value in a

1 1 2 3 5 8 13 21 34 55 89

In [97]:
 a= 1
 b= 2
 while b < 200 :
  print(b ,end=":")
  temp=b
  b=a+b
  a=temp

2:3:5:8:13:21:34:55:89:144:

In [99]:
a=5
b=1
while b<100:
  print(b,end=" ")
  temp=b
  b=a+b
  a=temp

1 6 7 13 20 33 53 86

In [100]:
### Factorial Series :-- 5! = 5*4*3*2*1