In [16]:
### LAMBDA :--       (USE FOR ONLY ONE VALUE)
## Lambda is use for the short and anynomous function.

# syntax -
###  lambda arguments:expression     (:)sign called as colon.

In [17]:
square = lambda a : a* a

In [18]:
square (5)

25

In [19]:
square (10)

100

In [20]:
add= lambda a,b : a+b

In [21]:
add (10,20)

30

In [24]:
sub = lambda a ,b : a-b

In [25]:
sub (10,5)

5

In [26]:
is_even = lambda n : 'even' if n % 2 == 0 else "odd"

In [27]:
is_even(10)

'even'

In [29]:
is_even(5)

'odd'

In [30]:
#MAP -------------
 # map ( use for all items in an iterable(list, tuple))
#map never use alone- map always use with lambda

In [47]:
num = [1,2,3,4,5]
num1 =[1,2,3,4]

In [48]:
square = set(map(lambda a : a*a,num))      ##set :- we want the o/p in set braces >> map gives all items o/p

In [43]:
square

{1, 4, 9, 16, 25}

In [50]:
add = tuple(map(lambda a,b : a + b,num,num1))   ## i want o/p in tuple(in paranthesis braces)

In [51]:
add

(2, 4, 6, 8)

In [52]:
double = set(map(lambda n :n+1,num1))

In [53]:
double

{2, 3, 4, 5}

In [54]:
double = list(map(lambda n : n*2,num1))

In [55]:
double

[2, 4, 6, 8]

In [56]:
### FILTER ---------
# filter with condition and always use with lambda.

In [57]:
num=[1,2,3,4,5,6]

In [58]:
is_even = set(filter(lambda n : n % 2 == 0,num))

In [59]:
is_even

{2, 4, 6}

In [63]:
is_odd = list(filter(lambda n :n % 2 != 0,num))  ## (!)use for odd numbers

In [64]:
is_odd

[1, 3, 5]

In [68]:
num = [5,12,7,22,4,25,9,6,18]

In [69]:
greater_than_10 = set(filter(lambda n : n > 10,num))

In [70]:
greater_than_10

{12, 18, 22, 25}

In [71]:
less_than_10 = tuple(filter(lambda n : n <10,num))

In [72]:
less_than_10

(5, 7, 4, 9, 6)